@import "../variables", "../mixins";

.contact-section {
	.contact-divider {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      background: $border-color;
			@include respond-down(md) {
				display: none;
			}
    }
  }
	.form-check-group {
		margin-bottom: $spacing-sm;
	}
	.map-wrapper {
		height: 100%;
		border-radius: $radius-md;
		overflow: hidden;
		box-shadow: $shadow-sm;
		transition: $transition;
		&:hover {
			box-shadow: $shadow-md;
		}
		@include respond-down(md) {
			height: 200px;
		}
		iframe {
			display: block;
			width: 100%;
			height: 100%;
			border: 0;
			filter: grayscale(1) invert(0.9);
		}
	}
}